In [43]:
import pandas as pd
import numpy as np

In [44]:
df_initial=pd.read_excel('Data/payments.xlsx', 'PAYMENTS', header=0, index_col=None,na_values=['NA'])
df_initial.head(20)

    lead_id     dt  amount
0         1  20454  567.71
1         1  20455    0.00
2         1  20456    0.00
3         1  20457    0.00
4         1  20458    0.00
5         1  20459    0.00
6         1  20460    0.00
7         1  20461    0.00
8         1  20462    0.00
9         1  20463    0.00
10        1  20464    0.00
11        1  20465    0.00
12        1  20466    0.00
13        1  20467    0.00
14        1  20468    0.00
15        1  20469    0.00
16        1  20470    0.00
17        1  20471    0.00
18        1  20472    0.00
19        1  20473    0.00

In [45]:
df_initial['dt']=df_initial.dt.apply(lambda x: pd.to_timedelta(x, unit='D') + pd.Timestamp('1960-1-1'))

In [46]:
df_initial.head(20)

    lead_id         dt  amount
0         1 2016-01-01  567.71
1         1 2016-01-02    0.00
2         1 2016-01-03    0.00
3         1 2016-01-04    0.00
4         1 2016-01-05    0.00
5         1 2016-01-06    0.00
6         1 2016-01-07    0.00
7         1 2016-01-08    0.00
8         1 2016-01-09    0.00
9         1 2016-01-10    0.00
10        1 2016-01-11    0.00
11        1 2016-01-12    0.00
12        1 2016-01-13    0.00
13        1 2016-01-14    0.00
14        1 2016-01-15    0.00
15        1 2016-01-16    0.00
16        1 2016-01-17    0.00
17        1 2016-01-18    0.00
18        1 2016-01-19    0.00
19        1 2016-01-20    0.00

In [47]:
df_initial['wk_index']=df_initial.dt.apply(lambda x: x.weekday())
df_initial.head(10)

   lead_id         dt  amount  wk_index
0        1 2016-01-01  567.71         4
1        1 2016-01-02    0.00         5
2        1 2016-01-03    0.00         6
3        1 2016-01-04    0.00         0
4        1 2016-01-05    0.00         1
5        1 2016-01-06    0.00         2
6        1 2016-01-07    0.00         3
7        1 2016-01-08    0.00         4
8        1 2016-01-09    0.00         5
9        1 2016-01-10    0.00         6

In [48]:
df_initial['weekday'] = np.where(df_initial['wk_index']==4, 'Friday', np.where(df_initial['wk_index']==5, 'Saturday', np.where(df_initial['wk_index']==6, 'Sunday', np.where(df_initial['wk_index']==0, 'Monday', np.where(df_initial['wk_index']==1, 'Tuesday', np.where(df_initial['wk_index']==2, 'Wednesday', np.where(df_initial['wk_index']==3, 'Thursday', '')))))))
df_initial.head(10)

   lead_id         dt  amount  wk_index    weekday
0        1 2016-01-01  567.71         4     Friday
1        1 2016-01-02    0.00         5   Saturday
2        1 2016-01-03    0.00         6     Sunday
3        1 2016-01-04    0.00         0     Monday
4        1 2016-01-05    0.00         1    Tuesday
5        1 2016-01-06    0.00         2  Wednesday
6        1 2016-01-07    0.00         3   Thursday
7        1 2016-01-08    0.00         4     Friday
8        1 2016-01-09    0.00         5   Saturday
9        1 2016-01-10    0.00         6     Sunday

In [49]:
df_initial['id_lagged'] = df_initial.lead_id.shift(periods=1, freq=None, axis=0)
df_initial['id_lagged'].fillna(0, inplace=True)
df_initial.id_lagged = df_initial.id_lagged.astype(int)
df_initial.dtypes

lead_id               int64
dt           datetime64[ns]
amount              float64
wk_index              int64
weekday              object
id_lagged             int64
dtype: object

In [50]:
df_initial['help'] = np.where((df_initial['amount']!=0) , -100, np.where((df_initial['wk_index']==5) | (df_initial['wk_index']==6), 0, 1 ))
df_initial['cumhelp']=[0]*len(df_initial)
df_initial.head(10)

   lead_id         dt  amount  wk_index    weekday  id_lagged  help  cumhelp
0        1 2016-01-01  567.71         4     Friday          0  -100        0
1        1 2016-01-02    0.00         5   Saturday          1     0        0
2        1 2016-01-03    0.00         6     Sunday          1     0        0
3        1 2016-01-04    0.00         0     Monday          1     1        0
4        1 2016-01-05    0.00         1    Tuesday          1     1        0
5        1 2016-01-06    0.00         2  Wednesday          1     1        0
6        1 2016-01-07    0.00         3   Thursday          1     1        0
7        1 2016-01-08    0.00         4     Friday          1     1        0
8        1 2016-01-09    0.00         5   Saturday          1     0        0
9        1 2016-01-10    0.00         6     Sunday          1     0        0

In [95]:
amt_not_zero = np.where(df_initial.help == -100, df_initial.help.index, -1)
amt_not_zero_pos = np.where(amt_not_zero != -1)[0]
amt_not_zero_pos = np.append(amt_not_zero_pos, len(df_initial)-1)
amt_not_zero_pos

array([     0,     20,     21, ..., 365997, 365998, 365999])

In [98]:
def days_not_returned(df):
    for i in range(0,len(amt_not_zero_pos)-1):
        if (amt_not_zero_pos[i+1]-amt_not_zero_pos[i] >1):
            df.iloc[amt_not_zero_pos[i]+1:amt_not_zero_pos[i+1], 7]=df.iloc[amt_not_zero_pos[i]+1:amt_not_zero_pos[i+1], 6].cumsum()
    
    if (df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 2] != 0.):
        df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 7] = 0
    elif ((df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 3] == 5) | (df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 3] == 6)):
        df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 7] = df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1]-1, 7]
    else:
        df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1], 7] = df.iloc[amt_not_zero_pos[len(amt_not_zero_pos)-1]-1, 7]+1
        
    return df

In [99]:
days_not_returned(df_initial)

,lead_id,dt,amount,wk_index,weekday,id_lagged,help,cumhelp
0,1,2016-01-01,567.71,4,Friday,0,-100,0
1,1,2016-01-02,0.00,5,Saturday,1,0,0
2,1,2016-01-03,0.00,6,Sunday,1,0,0
3,1,2016-01-04,0.00,0,Monday,1,1,1
4,1,2016-01-05,0.00,1,Tuesday,1,1,2
5,1,2016-01-06,0.00,2,Wednesday,1,1,3
6,1,2016-01-07,0.00,3,Thursday,1,1,4
7,1,2016-01-08,0.00,4,Friday,1,1,5
8,1,2016-01-09,0.00,5,Saturday,1,0,5
9,1,2016-01-10,0.00,6,Sunday,1,0,5
10,1,2016-01-11,0.00,0,Monday,1,1,6
11,1,2016-01-12,0.00,1,Tuesday,1,1,7
12,1,2016-01-13,0.00,2,Wednesday,1,1,8
13,1,2016-01-14,0.00,3,Thursday,1,1,9
14,1,2016-01-15,0.00,4,Friday,1,1,10
15,1,2016-01-16,0.00,5,Saturday,1,0,10
16,1,2016-01-17,0.00,6,Sunday,1,0,10
17,1,2016-01-18,0.00,0,Monday,1,1,11
18,1,2016-01-19,0.00,1,Tuesday,1,1,12
19,1,2016-01-20,0.00,2,Wednesday,1,1,13
20,1,2016-01-21,567.71,3,Thursday,1,-100,0
21,1,2016-01-22,567.71,4,Friday,1,-100,0
22,1,2016-01-23,0.00,5,Saturday,1,0,0
23,1,2016-01-24,0.00,6,Sunday,1,0,0
24,1,2016-01-25,567.71,0,Monday,1,-100,0
25,1,2016-01-26,567.71,1,Tuesday,1,-100,0
26,1,2016-01-27,567.71,2,Wednesday,1,-100,0
27,1,2016-01-28,567.71,3,Thursday,1,-100,0
28,1,2016-01-29,567.71,4,Friday,1,-100,0
29,1,2016-01-30,0.00,5,Saturday,1,0,0
...,...,...,...,...,...,...,...,...
365970,1000,2016-12-02,953.93,4,Friday,1000,-100,0
365971,1000,2016-12-03,0.00,5,Saturday,1000,0,0
365972,1000,2016-12-04,0.00,6,Sunday,1000,0,0
365973,1000,2016-12-05,953.93,0,Monday,1000,-100,0
365974,1000,2016-12-06,953.93,1,Tuesday,1000,-100,0
365975,1000,2016-12-07,953.93,2,Wednesday,1000,-100,0
365976,1000,2016-12-08,953.93,3,Thursday,1000,-100,0
365977,1000,2016-12-09,953.93,4,Friday,1000,-100,0
365978,1000,2016-12-10,0.00,5,Saturday,1000,0,0
365979,1000,2016-12-11,0.00,6,Sunday,1000,0,0
365980,1000,2016-12-12,953.93,0,Monday,1000,-100,0
365981,1000,2016-12-13,953.93,1,Tuesday,1000,-100,0
365982,1000,2016-12-14,953.93,2,Wednesday,1000,-100,0
365983,1000,2016-12-15,953.93,3,Thursday,1000,-100,0
365984,1000,2016-12-16,953.93,4,Friday,1000,-100,0
365985,1000,2016-12-17,0.00,5,Saturday,1000,0,0
365986,1000,2016-12-18,0.00,6,Sunday,1000,0,0
365987,1000,2016-12-19,953.93,0,Monday,1000,-100,0
365988,1000,2016-12-20,953.93,1,Tuesday,1000,-100,0
365989,1000,2016-12-21,953.93,2,Wednesday,1000,-100,0
365990,1000,2016-12-22,953.93,3,Thursday,1000,-100,0
365991,1000,2016-12-23,953.93,4,Friday,1000,-100,0
365992,1000,2016-12-24,0.00,5,Saturday,1000,0,0
365993,1000,2016-12-25,0.00,6,Sunday,1000,0,0
365994,1000,2016-12-26,953.93,0,Monday,1000,-100,0
365995,1000,2016-12-27,953.93,1,Tuesday,1000,-100,0
365996,1000,2016-12-28,953.93,2,Wednesday,1000,-100,0
365997,1000,2016-12-29,953.93,3,Thursday,1000,-100,0
365998,1000,2016-12-30,953.93,4,Friday,1000,-100,0
365999,1000,2016-12-31,0.00,5,Saturday,1000,0,0

In [112]:
del df_initial['wk_index']
del df_initial['id_lagged']
del df_initial['help']
df_initial.rename(columns={"cumhelp":"days_not_returned"})

        lead_id         dt  amount    weekday  days_not_returned
0             1 2016-01-01  567.71     Friday                  0
1             1 2016-01-02    0.00   Saturday                  0
2             1 2016-01-03    0.00     Sunday                  0
3             1 2016-01-04    0.00     Monday                  1
4             1 2016-01-05    0.00    Tuesday                  2
5             1 2016-01-06    0.00  Wednesday                  3
6             1 2016-01-07    0.00   Thursday                  4
7             1 2016-01-08    0.00     Friday                  5
8             1 2016-01-09    0.00   Saturday                  5
9             1 2016-01-10    0.00     Sunday                  5
10            1 2016-01-11    0.00     Monday                  6
11            1 2016-01-12    0.00    Tuesday                  7
12            1 2016-01-13    0.00  Wednesday                  8
13            1 2016-01-14    0.00   Thursday                  9
14            1 2016-01-15    0.00     Friday                 10
15            1 2016-01-16    0.00   Saturday                 10
16            1 2016-01-17    0.00     Sunday                 10
17            1 2016-01-18    0.00     Monday                 11
18            1 2016-01-19    0.00    Tuesday                 12
19            1 2016-01-20    0.00  Wednesday                 13
20            1 2016-01-21  567.71   Thursday                  0
21            1 2016-01-22  567.71     Friday                  0
22            1 2016-01-23    0.00   Saturday                  0
23            1 2016-01-24    0.00     Sunday                  0
24            1 2016-01-25  567.71     Monday                  0
25            1 2016-01-26  567.71    Tuesday                  0
26            1 2016-01-27  567.71  Wednesday                  0
27            1 2016-01-28  567.71   Thursday                  0
28            1 2016-01-29  567.71     Friday                  0
29            1 2016-01-30    0.00   Saturday                  0
...         ...        ...     ...        ...                ...
365970     1000 2016-12-02  953.93     Friday                  0
365971     1000 2016-12-03    0.00   Saturday                  0
365972     1000 2016-12-04    0.00     Sunday                  0
365973     1000 2016-12-05  953.93     Monday                  0
365974     1000 2016-12-06  953.93    Tuesday                  0
365975     1000 2016-12-07  953.93  Wednesday                  0
365976     1000 2016-12-08  953.93   Thursday                  0
365977     1000 2016-12-09  953.93     Friday                  0
365978     1000 2016-12-10    0.00   Saturday                  0
365979     1000 2016-12-11    0.00     Sunday                  0
365980     1000 2016-12-12  953.93     Monday                  0
365981     1000 2016-12-13  953.93    Tuesday                  0
365982     1000 2016-12-14  953.93  Wednesday                  0
365983     1000 2016-12-15  953.93   Thursday                  0
365984     1000 2016-12-16  953.93     Friday                  0
365985     1000 2016-12-17    0.00   Saturday                  0
365986     1000 2016-12-18    0.00     Sunday                  0
365987     1000 2016-12-19  953.93     Monday                  0
365988     1000 2016-12-20  953.93    Tuesday                  0
365989     1000 2016-12-21  953.93  Wednesday                  0
365990     1000 2016-12-22  953.93   Thursday                  0
365991     1000 2016-12-23  953.93     Friday                  0
365992     1000 2016-12-24    0.00   Saturday                  0
365993     1000 2016-12-25    0.00     Sunday                  0
365994     1000 2016-12-26  953.93     Monday                  0
365995     1000 2016-12-27  953.93    Tuesday                  0
365996     1000 2016-12-28  953.93  Wednesday                  0
365997     1000 2016-12-29  953.93   Thursday                  0
365998     1000 2016-12-30  953.93     Friday                  0
365999     1000 2016-12-31    0.00   Saturday                  0

[366000 rows x 5 columns]

In [114]:
df_initial.to_excel("Files/result.xlsx", sheet_name="PAYMENTS")